.App {
  text-align: center;
}

input {
  padding: 15px;
  width: 250px;
  border: 1px solid rgb(0, 110, 255);
}

h3 {
  color: rgb(0, 110, 255);
  text-transform: uppercase;
}

button {
  padding: 15px;
  background-color: rgb(0, 110, 255);
  border: transparent;
  color: white;
  margin-left: 10px;

}

.todoList {
  margin: 40px auto;
  width: 350px;
  height: fit-content;

}

span {
  cursor: pointer;
  padding-top: 5px;
}

.todo {
  box-shadow: 2px 2px 3px rgb(0, 110, 255);
  margin:10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.singleTodo {
  width: 350px;
  
}

.icons svg {
  position: relative;
  float: right;
  margin-top: 8px;
  padding-right: 10px;
  color: blue;
}

p {
  margin: 5px 0px;
  padding-left: 10px;
}